body {
    background-image: url(group.jpg);
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    height: 100vh; 
    background-color: turquoise; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    border-color: red ;
    border: 5px;
    
}
.text-frame {
    border: 5px solid rgb(146, 177, 175); 
    padding: 20px; 
    width: 500px;
    margin: 20px auto; 
    background-color: lightgray;
}