#preloader {
    background: #000 url(loader.gif) no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

* {
    margin: 0;
}
body {
    background-image: url(Matrix2.gif);
    
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #333333; 
    color: #a5a5b5; 
    font-family: 'Impact', 'fantasy'; 
    padding: 10px;
  }
.The_Blue_Code_Company{
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
}
.Text {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: aqua;


}   /* if you reading this please use the website at 100% not less or more please ;) bcs it will look bad, thank you,  */
.obramowanie-i9 {
    border: 3px solid rgb(0, 149, 255);
    margin-left: 400px;  
    float: left;
}
.obramowanie-GIGABYTE {
    border: 3px solid rgb(195, 0, 255);
    float: left;
    margin-left: 15px;
}
.obramowanie-3060 {
    border: 3px solid rgb(115, 255, 0);
    float: left;
    margin-left: 15px;
}
/* this calculates how much days is left to the next year */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: gray;
}

#countdown {
    font-size: 24px;
}

header {

    background-color: #333333;
    color: #a5a5b5;
    padding: 20px;
    
    text-align: center;
    
}
#powiadomienie {
    display: none;
}
#góra{
    text-align: right;
    margin: 0px;
    padding: 0px;
    
}
a{
    text-decoration: none;
    color: lightgreen;
    font-size: medium;
}


nav {
    background-color: #333;
    padding:   10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #a5a5b5;
    font-weight: bold;
    font-size: 18px;
}
#SocialMedia {
    display: none;
}
#Texti9{
    float: left;
    
}
#About{
    padding: 0px;
    color: rgb(0, 174, 255);

}
#About:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 72, 255)
    
}
#Services{
    padding: 0px;
    color: mintcream;
    margin: 10px;

}
#Services:hover{
    cursor: pointer;
    box-shadow: 0 0 10px gray
}



#kontakt-link:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 255, 136)
}


    

#KontaktMedia:hover{
    cursor: pointer;
    box-shadow: 0 0 10px red
}
#powiadomienie{

    color: greenyellow;
}